.cartitems{
    margin: 100px 170px;
}

.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}

.cartitems-format{
    font-size: 17px;
    font-weight: 500;
}

.carticon-product-icon{
    height: 62px;
}

.cartitems-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}

.cartitems-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #ffff;
}

.cartitems-down{
    display: 1;
    margin: 100px 0px;
}

.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}

.cartitems-total-items{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.proceed-checkout {
    width: 130px;
    height: 45px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #ffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px; 
    transition: background 0.3s ease;
    float: right; 
    margin-top: 10px; 
}

.proceed-checkout:hover {
    background: #e14b4b; 
}

.cartitems-promobox {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 500px;
    margin-top: 15px;
    padding: 0 10px;
    height: 58px;
    background: #eaeaea;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cartitems-promobox input {
    flex: 1; 
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    height: 100%;
    padding-left: 10px;
}

.cartitems-promobox button {
    width: 140px;
    height: 45px;
    font-size: 16px;
    font-weight: 600;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.cartitems-promobox button:hover {
    background: #333;
}


@media (max-width: 600px) {
    .cartitems {
        margin: 50px 20px;
    }

    .cartitems-format-main {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        font-size: 14px;
        padding: 15px 0;
    }

    .cartitems-format {
        font-size: 14px;
    }

    .carticon-product-icon {
        height: 40px;
    }

    .cartitems-remove-icon {
        margin: 0px 15px;
    }

    .cartitems-quantity {
        width: 50px;
        height: 40px;
    }

    .cartitems-down {
        margin: 50px 0;
        flex-direction: column;
    }

    .cartitems-total {
        margin-right: 0;
        gap: 20px;
    }

    .proceed-checkout {
        width: 100%;
        float: none;
        margin-top: 20px;
    }

    .cartitems-promobox {
        width: 100%;
        flex-direction: column;
        height: auto;
        padding: 10px;
        gap: 10px;
    }

    .cartitems-promobox input {
        width: 100%;
        padding: 10px;
        height: 45px;
    }

    .cartitems-promobox button {
        width: 100%;
    }
}

/* Original CSS remains the same */
.cartitems{
    margin: 100px 170px;
}

.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}

.cartitems-format{
    font-size: 17px;
    font-weight: 500;
}

.carticon-product-icon{
    height: 62px;
}

.cartitems-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}

.cartitems-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #ffff;
}

.cartitems-down{
    display: 1;
    margin: 100px 0px;
}

.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}

.cartitems-total-items{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.proceed-checkout {
    width: 130px;
    height: 45px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #ffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px; 
    transition: background 0.3s ease;
    float: right; 
    margin-top: 10px; 
}

.proceed-checkout:hover {
    background: #e14b4b; 
}

.cartitems-promobox {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 500px;
    margin-top: 15px;
    padding: 0 10px;
    height: 58px;
    background: #eaeaea;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cartitems-promobox input {
    flex: 1; 
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    height: 100%;
    padding-left: 10px;
}

.cartitems-promobox button {
    width: 140px;
    height: 45px;
    font-size: 16px;
    font-weight: 600;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.cartitems-promobox button:hover {
    background: #333;
}