.item {
    width: 295px;
  }
  
  .item img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .item p {
    margin: 4px 0;
    font-size: 14px;
  }
  
  .item-prices {
    display: flex;
    gap: 15px;
  }
  
  .item-price-new {
    color: #374151;
    font-size: 16px;
    font-weight: 600;
  }
  
  .item-price-old {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 500;
    text-decoration: line-through;
  }
  
  .item:hover {
    transform: scale(1.03);
    transition: 0.6s;
  }
  
  @media (max-width: 600px) {
    .item {
        width: 100%;
        max-width: 295px; /* Maintains maximum size but allows shrinking */
        margin: 0 auto; /* Centers the item on mobile */
    }

    .item p {
        font-size: 13px;
        margin: 3px 0;
    }

    .item-prices {
        gap: 10px;
    }

    .item-price-new,
    .item-price-old {
        font-size: 14px;
    }

    /* Previous mobile styles */
    .hero {
        padding: 2rem 1rem;
        margin-bottom: 30px;
    }

    .hero-content {
        flex-direction: column;
        gap: 2rem;
    }

    
}

