.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    /* Fixed height for the navbar */
    padding: 0 16px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-image {
    height: 70px;
    /* Reduced logo image size */
    width: auto;
}

.nav-logo p {
    color: #171717;
    font-size: 24px;
    /* Adjusted size to fit better with reduced height */
    font-weight: 600;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button {
    width: 130px;
    height: 45px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.nav-login-cart button:active {
    background: #ebc3c3;
}

.nav-cart-count {
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -50px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}

@media(max-width:1280px) {
    .navbar {
        padding: 12px 50px;
    }

    .nav-logo img {
        width: 40px;
    }

    .nav-logo p {
        font-size: 25px;
    }

    .nav-menu {
        gap: 30px;
        font-size: 16px;
    }

    .nav-login-cart {
        gap: 30px;
    }

    .nav-login-cart button {
        width: 120px;
        height: 45px;
        font-size: 16px;

    }

    .nav-cart-count {
        margin-left: -40px;
        font-size: 12px;

    }

}

@media(max-width:1024px) {
    .navbar {
        padding: 12px 30px;
    }

    .nav-menu {
        gap: 25px;
        font-size: 14px;

    }



    }

    .nav-login-cart img {
        width: 30px;
    }

    .nav-cart-count {
        width: 18px;
        height: 18px;

    }
